<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    
    <!-- Enable method level Spring Security by annotations  -->
    <global-method-security pre-post-annotations="enabled"/>
    <http auto-config='true' access-denied-page="/accessDenied.jsp" >
        
        <intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <intercept-url pattern="/logout.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <intercept-url pattern="/sessionTimeout.html" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <intercept-url pattern="/login-failure.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <intercept-url pattern="/login-denied.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <intercept-url pattern="/Individu*" access="ROLE_ADMIN" requires-channel="any"/>
        
        <!-- Ajout des Acces-->
        <intercept-url pattern="/nvUniversite.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/nvComposante.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/nvDepartement.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/nvSupFormation.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/nvFormation.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/nvCours.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/univList.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/nouveau.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        <intercept-url pattern="/userList.jsf" access="ROLE_ADMIN" requires-channel="any"/>
        
        <intercept-url pattern="/**" access="ROLE_USER" requires-channel="any" />
<!--        <intercept-url pattern="/**" access="ROLE_ADMIN" requires-channel="any" />-->
        
        <form-login login-page='/login.jsp' default-target-url='/index.jsf'
            always-use-default-target='true'
            authentication-failure-url="/login-failure.jsp"/>

        <port-mappings>
            <port-mapping http="8080" https="8181"/>
        </port-mappings>

        <session-management invalid-session-url="/login-denied.jsp">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true"  />
        </session-management>

        <logout logout-success-url="/logout.jsp"
        invalidate-session="true" logout-url="/logout" 
        delete-cookies="JSESSIONID" />
    </http>

    <!-- SE CONNECTER DEPUIS LA BDD -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <!-- Mode de chiffrement des MDP dans la base -->
            <password-encoder hash="md5"></password-encoder>   
            <jdbc-user-service data-source-ref="dataSource"
             users-by-username-query="SELECT username,password,enabled FROM formation_db.users WHERE username = ?"
               authorities-by-username-query="SELECT username,role FROM formation_db.role WHERE username = ?"/>            
        </authentication-provider>
    </authentication-manager>
    

</beans:beans>

